/* src/components/Login.css */


:root {
  --sds-typography-body-size-large: 18px;
  /* 원하는 크기로 정의 */
}

.banner-container {

  display: flex;
  justify-content: space-between;
  /* 가로 중앙 정렬 */
  align-items: center;
  /* 세로 중앙 정렬 */

  width: 100%;
  min-width: 1500px;
  height: 172px;
  border-bottom: 1px solid #B3B3B3;
  /* 하단에만 1px 선 추가 */
  background-color: white;
  box-sizing: border-box;
}

.logo {
  width: 211px;
  height: 57px;
  flex-shrink: 0;
  margin-top: 58px;
  margin-left: 21px;
  margin-bottom: 57px;
}

.title {
  /* text-align: center; */
  /* text-align: center; 텍스트를 중앙 정렬 */
  white-space: nowrap;
  /* 텍스트 줄바꿈 안되게 */
  font-family: Pretendard;
  margin-left: 369px;
  margin-right: 327px;

}

.title>h2 {
  color: #000;

  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 28px */
  margin: 48px auto 0 auto;
}

.title>h1 {
  color: #8B0B02;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  /* 40px */
  margin: 10px auto 46px auto;
}

.navbar {

  background-color: #fdfdfd00;
  white-space: nowrap;
  /* 텍스트 줄바꿈 안되게 */
}

.navbar-menu {
  list-style: none;

  display: flex;
  /* flexbox로 설정하여 가로 정렬 */
  margin: 77px auto 75px auto;

  padding: 0;
}

/* 각 메뉴 항목 스타일 */
.navbar-menu li {
  margin-left: 16px;
  /* 메뉴 항목 간의 간격 설정 */
}

/* 링크 스타일 */
.navbar-menu a {

  color: rgb(0, 0, 0);
  /* 링크의 색상을 검정으로 설정 */
  text-decoration: none;
  /* 링크의 밑줄을 제거 */
  padding: 10px 15px;
  transition: background-color 0.2s ease;
  /* 배경색 변화에 대한 트랜지션 효과 */
  font-family: Pretendard;
  font-size: var(--sds-typography-body-size-large);
  /* CSS 변수로 폰트 크기를 설정 */
  font-style: normal;
  /* 폰트 스타일을 기본(normal)로 설정 */
  font-weight: 500;
  /* 폰트 두께를 500으로 설정 */
  line-height: 100%;
  /* 줄 간격을 100%로 설정 (20px) */
}

/* 광운대학교 상단메뉴의 색상을 다르게 설정 */
.k-menu {
  color: #8B0B02 !important;

}

/* 링크에 마우스를 올렸을 때 스타일 */
.navbar-menu a:hover {
  background-color: #757272;
}


.login-container {

  display: flex;
  flex-direction: column;
  /*  세로 정렬 */
  align-items: center;
  /* justify-content: center; */
  /* 주 축으로 정렬 */
  flex-wrap: nowrap;
  /* 줄바꿈 없음 */

  max-width: 1040px;
  width: 495px;
  height: 542px;
  flex-shrink: 0;

  margin: 115px auto;
  /* 부모 요소 내에서 가로 중앙에 배치 */
  border: 1px solid #B3B3B3;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;



}

/* label {
  display: block;
  margin-bottom: 5px;
} */

.login-container>h2 {
  width: 73.148px;
  height: 21.526px;

  /* 아이템 너비 축소 막기 */
  flex-shrink: 0;


  margin: 58.27px 210.42px 33.21px 211.43px;
  color: #000;


  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  /* 28px */
}

input {



  display: inline-flex;
  height: 53px;
  width: 400.81px;
  padding: 13px 110px 12px 31px;
  margin-bottom: 29px;
  /* align-items: center; */
  /* flex-shrink: 0; */
  border-radius: 40px;
  border: 1px solid #B3B3B3;
  box-sizing: border-box;
  /* 패딩과 보더를 width에 포함 */
  background: rgba(255, 255, 255, 0.30);

}

input::placeholder {
  color: #B3B3B3;
  /* 텍스트 색상 */
  font-family: Pretendard;
  font-size: var(--sds-typography-body-size-large);
  font-weight: 400;
  /* 글꼴 굵기 */
  font-style: normal;
  /* 글꼴 스타일 */
  line-height: 100%;
}

.login-btn {
  /* display: flex; */
  width: 400.81px;
  height: 48px;
  padding: 10px 125.81px 10px 125px;
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-shrink: 0; */
  margin-bottom: 41px;
  border-radius: 40px;
  background: #8B0B02;

  color: #FFF;
  /* text-align: center; */
  font-family: Pretendard;
  font-size: var(--sds-typography-body-size-large);
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  /* 20px */

}

button:hover {
  background-color: #B3B3B3;
}


.login-options a {
  text-decoration: none;
  color: #B3B3B3;

  text-align: center;
  font-family: Pretendard;
  font-size: var(--sds-typography-body-size-large);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 0 24.5px;
}

.login-options a:not(:last-child) {

  border-right: 1px solid #ccc;
  /* 오른쪽에 세로선 추가 */
}

.privacy-btn {
  display: flex;
  width: 400.81px;
  height: 45px;
  padding: 9px 70.81px 8px 71px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 10px;
  background: #4C4C4C;
  margin-top: 41px;
  margin-bottom: 70px;

  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: var(--sds-typography-body-size-large);
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  /* 20px */
}

/* 모달 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Policy-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Policy-content h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 22px;
  color: #333;
}

.Policy-content p {
  font-size: 16px;
  color: #555;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
}

.close:hover {
  color: #000;
}
/* @font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
} */
/* } */