.container {
    width: 1228px;
    margin: 55px auto 30px auto;
}

.container h1 {
    font-family: Pretendard;
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    text-align: left;
    margin-bottom: 41px;
}

.survey {
    width: 1228px;
    height: 90px;
    margin-bottom: 41px;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    position: relative;
}

.survey p {
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #4C4C4C;
    margin: 35px 0 35px 10px;
    position: absolute;
}
.buttons{
    float: right;
    margin-right: 20px;
}
.buttons button {
    font-family: Pretendard;
    font-size: 23.01px;
    font-weight: 600;
    line-height: 23.01px;
    width: 122px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    background: #8B0B02;
    color: #FFFFFF;
    border: none;
    margin: 25px 0 25px 31px;
    float: right;
    cursor: pointer;
}

.buttons button:disabled {
    background-color: #b3b3b3; /* 비활성화된 버튼 색상 */
    color: #ffffff; /* 비활성화된 버튼 텍스트 색상 */
    cursor: not-allowed; /* 커서 스타일 변경 */
}
.icon{
    cursor: pointer;
}