* {
    font-family: Pretendard;
    font-style: normal;
    line-height: 100%;
}

.MyTeamApplicant_container {
    width: 1228px;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    margin-bottom: 48px;
}

.container_head {

    display: flex;
    gap: 12px;
    align-items: center;

    font-size: 32px;
    font-weight: 800;

    margin-bottom: 41px;

}

.applicant_container {
    margin-bottom: 48px;
}

.team_title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Border-Disabled-default, #B3B3B3);
    border-top: 1px solid var(--Border-Disabled-default, #B3B3B3);
    width: 1228px;
    height: 90px;

    color: #4C4C4C;
    font-size: 20px;
    font-weight: 600;

    padding-left: 10.42px;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-top: 40px;
}

.applicant_info {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    height: 193px;

    border-radius: 16.449px;
    background: #EEF2F6;
    padding-top: 20px;




}


.name {
    font-size: 24px;
    font-weight: 800;
    margin-top: 17.26px;
}

.info {
    display: flex;
    gap: 8.03px;
    align-items: center;

    font-size: 18px;

    font-weight: 400;

    margin-top: 12.33px;
}

.portfolio {
    width: 915px;
    height: 550px;
    /* border-radius: 15.825px;
    background: #EEF2F6; */
}