* {
    font-family: Pretendard;
    font-style: normal;
    line-height: 100%;
}

.Schedule_container {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52.48px;

    width: 1228px;
    height: auto;

    display: flex;
    flex-direction: column;



}

.Schedule_container h {

    font-weight: 800;
    font-size: 32px;
    text-align: left;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 71px;
}

.schedule {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.to_day {
    width: 348px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid var(--Border-Disabled-default, #B3B3B3);

    background: #FFF;

    padding-top: 17px;
    padding-left: 32px;
    padding-bottom: 18px;

    display: flex;
    flex-direction: column;
    text-align: left;

    gap: 6px;

}

/* TODAY */
.to_day h {
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 500;
}

/* 오늘날짜 */
.to_day p {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
}

.my_schedule {
    width: 348px;
    height: 230px;
    border-radius: 10px;
    border: 1px solid var(--Border-Disabled-default, #B3B3B3);

    background: #FFF;

    display: flex;
    flex-direction: column;
    text-align: left;

    padding-top: 26px;
    padding-left: 24px;

}

.my_schedule h {
    color: #000;
    font-size: 20px;
    font-weight: 800;

}

.schedule_add {
    width: 348px;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--Border-Disabled-default, #B3B3B3);

    background: #FFF;

    display: flex;
    flex-direction: column;

    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;

}



.add_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

/* 일정 추가 */
.add_header h {
    font-size: 20px;
    font-weight: 800;
    margin: 0;

}

.select_input {
    width: 139px;
    height: 31px;
    border-radius: 4px;
    border: 1px solid var(--Border-Disabled-default, #B3B3B3);
    color: #B3B3B3;
    background: #FFF;

    font-size: 12px;
    font-weight: 600;
}

.select_input option {
    color: #4C4C4C;
    font-size: 12px;
    font-weight: 600;

}

.input_container {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}



/* 제목 div */
.title_input {
    width: 300px;
    height: 49px;
    border-radius: 10px;
    border: 1px solid var(--Border-Disabled-default, #B3B3B3);

    background: #FFF;


    margin: 0;
    padding-left: 10.96px;




}


/* 제목 */
.title_input::placeholder {
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 400;
    text-align: left;

}

.date {
    width: 300px;
    height: 49px;
    border-radius: 10px;
    border: 1px solid var(--Border-Disabled-default, #B3B3B3);

    background: #FFF;

    display: flex;
    align-items: center;

    margin: 0;
    padding-left: 10.96px;

    gap: 20px;

}

.date h {
    font-size: 16px;
    color: #4C4C4C;
    font-weight: 400;
}

.date_input {
    color: #4C4C4C;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;

}

.time {
    width: 300px;
    height: 49px;
    border-radius: 10px;
    border: 1px solid var(--Border-Disabled-default, #B3B3B3);

    background: #FFF;

    display: flex;
    align-items: center;

    margin: 0;
    padding-left: 10.96px;

    gap: 20px;

}

.time h {
    font-size: 16px;
    color: #4C4C4C;
    font-weight: 400;

}

.time_input {
    color: #4C4C4C;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}



.add_button {
    border-radius: 14.084px;
    background: #8B0B02;
    width: 50px;
    height: 22.535px;

    color: #FFF;
    font-size: 12.676px;
    font-weight: 600;
    border: none;
    cursor: pointer;

    margin-top: 12px;

    align-self: flex-end;
    /* 버튼을 오른쪽 끝으로 배치 */

}

.add_button:hover {
    background-color: #FF6347;
}



.calendar {
    width: 810px;
    /* border: 5px solid var(--Border-Disabled-default, #B3B3B3); */
    margin-top: 37px;
}

.calendar_button {
    width: 210.246px;
    height: 35.742px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: right;



}

.calendar_button button {
    border: none;
    background-color: #ffffff;
}

.calendar_weekdays {
    border: 1.059px solid var(--Border-Disabled-default, #B3B3B3);

    display: grid;
    grid-template-columns: repeat(7, 116.479px);
    box-sizing: border-box;
    max-width: 815.353px;
    min-width: 815.353px;


}

.weekday {


    display: flex;
    align-items: center;
    font-size: 15.884px;
    font-weight: 600;

    padding-left: 5.29px;
    height: 42.356px;


}

.weekday:not(:last-child) {
    border-right: 1.059px solid var(--Border-Disabled-default, #B3B3B3);

}

.calendar_header {
    /* background-color: #e4f503; */
    display: flex;
    justify-content: space-between;
}

.color_info {
    display: flex;
    flex-direction: row;
    gap: 19.51px;
    align-items: center;
}

.school_color {
    display: flex;
    gap: 4.18px;
    color: #8B0B02;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    align-items: center;
    margin: 0;


}

.school_color p {
    width: 63.446px;
    margin: 0;

}

.teamproject_color {
    display: flex;
    gap: 4.18px;
    color: #3B476E;
    font-size: 14px;
    font-weight: 400;

}

.calendar_days {
    /* border: 1.059px solid var(--Border-Disabled-default, #B3B3B3); */
    /* border-left: 1.059px solid var(--Border-Disabled-default, #B3B3B3); */
    display: grid;
    grid-template-columns: repeat(7, 116.479px);

    /* gap: 0.5295px; */
    /* 칸 사이의 공간 색을 테두리처럼 보이게 */

    /* 
    box-sizing: border-box; */


}

.emptyCalendar {
    border-left: 1.059px solid var(--Border-Disabled-default, #B3B3B3);
    border-bottom: 1.059px solid var(--Border-Disabled-default, #B3B3B3);

}

.day {

    min-height: 116.479px;


    box-sizing: border-box;


    display: flex;
    flex-direction: column;

    align-items: start;

    padding-top: 7.41px;
    font-size: 15.884px;
    font-weight: 600;

    border-bottom: 1.059px solid var(--Border-Disabled-default, #B3B3B3);
    border-right: 1.059px solid var(--Border-Disabled-default, #B3B3B3);
    /* border-left: 1.059px solid var(--Border-Disabled-default, #B3B3B3); */
}

.day_1 {
    border-left: 1.059px solid var(--Border-Disabled-default, #B3B3B3);

    min-height: 116.479px;
    max-width: 116.479px;
    min-width: 116.479px;

    box-sizing: border-box;


    display: flex;
    flex-direction: column;

    align-items: start;

    padding-top: 7.41px;
    font-size: 15.884px;
    font-weight: 600;

    border-bottom: 1.059px solid var(--Border-Disabled-default, #B3B3B3);
    border-right: 1.059px solid var(--Border-Disabled-default, #B3B3B3);

}

.day:nth-child(7n-6) {
    border-left: 1.059px solid var(--Border-Disabled-default, #B3B3B3);
}


.day span {
    padding-left: 5.29px;
    margin-bottom: 5.29px;
}



.event {
    font-size: 15.884px;
    font-weight: 600;

}

.univEvents {
    display: flex;
    align-items: center;
    text-align: left;
    background: rgba(232, 206, 204, 0.40);
    color: #8B0B02;
    width: 114.361px;
    min-height: 27.531px;

    padding-left: 4.24px;
    margin: 0;
    white-space: normal;


}

.userEvents {
    display: flex;
    align-items: center;
    text-align: left;
    background: #f5f6ee;
    color: #6e723d;
    width: 114.361px;
    min-height: 27.531px;

    padding-left: 4.24px;
    margin: 0;
    white-space: normal;

}

.projectEvents {
    display: flex;
    align-items: center;
    text-align: left;
    background: #EEF2F6;
    color: #3B476E;
    width: 114.361px;
    min-height: 27.531px;

    padding-left: 4.24px;
    margin: 0;

    white-space: normal;

}

.emptyEvents {
    display: flex;
    align-items: center;

    width: 114.361px;
    height: 27.531px;

    padding-left: 4.24px;
    margin: 0;

}

.today {
    background: rgba(204, 232, 210, 0.47);
}

.select_team {
    width: 300px;
    height: 49px;
    border-radius: 4px;
    border: 1px solid var(--Border-Disabled-default, #B3B3B3);

    background: #FFF;
    font-size: 16px;
    color: #4C4C4C;
    font-weight: 400;
}

.option_style{

    height: 45px;
}