.signup_form {
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 16.431px;
    background-color: #FFF;
    width: 538.37px;
    height: 589.49px;
    /* height: auto; 높이를 자동으로 조정 */
    padding-bottom: 20px; /* 하단에 약간의 여백 추가 */
    margin-top: 101px;
    margin-bottom: 101px;
    font-family: Pretendard;
    box-sizing: border-box;
}

.signup_form h3 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 33.45px;
    margin-top: 28.28px;
}

.signup_form div {
    display: block;
}

.id_container input {
    font-family: Pretendard;
    width: 292.21px;
    height: 44.32px;
    border-radius: 32.86px;
    border: 0.82px solid #B3B3B3;
    text-align: center;
    box-sizing: border-box;
    padding: 10.68px 19.72px;
    margin-bottom: 15.89px;
}

input::placeholder {
    color: #B3B3B3;
    font-size: 16.431px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
}

.id_container button {
    font-family: Pretendard;
    width: 126.43px;
    height: 40.14px;
    padding: 10px;
    border: none;
    border-radius: 32.86px;
    background-color: #8B0B02;
    color: white;
    cursor: pointer;
    font-size: 16.431px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-left: 14.38px;
}

.id_container button:hover {
    background-color: #0056b3;
}

.email-label {
    margin: 0;
    font-family: Pretendard;
    margin-left: 61.67px;
    margin-bottom: 10.42px;
    font-size: 16.43px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}

#text {
    margin: 0px;
    font-family: Pretendard;
    font-size: 13.14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-left: 74.66px;
    text-align: left;
}

.pw_container input {
    font-family: Pretendard;
    width: 431.2px;
    height: 44.32px;
    border-radius: 32.86px;
    border: 0.82px solid #B3B3B3;
    text-align: center;
    padding: 19px;
    box-sizing: border-box;
    margin-bottom: 0px;
}

.pw_container p {
    font-family: Pretendard;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 66.52px;
    font-size: 16.43px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}

.checkbox-group {
    font-family: Pretendard;
    font-size: 16.43px;
    cursor: pointer;
    color: #B3B3B3;
    text-align: left;
    margin-left: 85.4px;
    margin-bottom: 12px;
    margin-top:18px;

}

.checkbox-group input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align:top;
    position: relative;
    top: -2px; 
    margin-bottom: 10px;
}

.sign {
    font-family: Pretendard;
    width: 431.201px;
    height: 40.136px;
    padding: 10px;
    border: none;
    border-radius: 32.86px;
    background-color: #8B0B02;
    color: white;
    cursor: pointer;
    font-size: 16.431px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 25.77px;
}

.sign:disabled {
    background-color: #4C4C4C;
    cursor: not-allowed;
    color: #B0B0B0;
}
