.survey_container{
    width: 1230px;
    height: 1300px;
    margin: 58px 105px 137px 105px;
}
.top_container{
    width: 1230px;
    height: 71px;
}
.top_container p{
    display: inline;
    float: left;
    margin: 0;
    font-size: 32px;
    font-weight: 800;
}
.top_container a{
    float: right;
    text-decoration-line: none;
    color: #000000;
    margin: 18px 0 0 0;
    font-size: 26.6px;
    font-weight: 400;
}
.search {
    font-family: Pretendard;
    width: 1229px;
    height: 58px;
    border-radius: 30px;
    border: 1px solid #B3B3B3;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 36px;
}

.post_container{
    width: 1230px;
    height: 918px;
}