.survey_container{
    width: 1230px;
    height: auto;
    margin: 58px 105px 137px 105px;
}
.top_container{
    width: 1230px;
    height: 71px;
}
.top_container p{
    display: inline;
    float: left;
    margin: 0;
    font-size: 32px;
    font-weight: 800;
}
.top_container a{
    text-decoration-line: none;
    color: #000000;
    font-size: 26.6px;
    font-weight: 400;
}
.write{
    float: right;
    margin: 18px 0 0 0;
}
.search_container{
    position: relative;
}
.search {
    font-family: Pretendard;
    width: 1229px;
    height: 58px;
    border-radius: 30px;
    border: 1px solid #B3B3B3;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 36px;
}
.search_icon{
    position: absolute;
    top: 14.75px;
    right: 20px;
    cursor: pointer;
}
.post_container{
    width: 1230px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.question{
    width: 595px;
    height: 212px;
    border: 0.79px solid #B3B3B3;
    border-radius: 5px;
    margin: 0 10px 20px 10px;
}
.question p{
    overflow: hidden;
}