.pagination {
  display: flex;
  justify-content: center;
  margin-top: 66px;
  margin-bottom: 57px;
  align-items: center;
  gap: 24px;
}

.pageNumberDiv {
  display: flex;
  gap: 20px;
  font-size: 18px;
  align-items: center;
}
.pageNumber {
  /* 좌우 공백 */
  cursor: pointer;
  /* 커서 포인터 */
  color: #b3b3b3;
}

.pageNumber.active {
  font-weight: bold;
  color: #000000;
  /* 활성 페이지 강조 */
}

.arrow {
  cursor: pointer;
}

.arrow.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.arrow.active {
  stroke: #000000;
}
